html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.flex {
    display: flex;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.btn {
    margin: 15px 0;
    padding: 16px 24px;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #5C8DB9;
    background-color: #F5F5F5;
    border: 1px solid #5C8DB9;
    border-radius: 8px;
    transition: background-color color 0.3s ease-in-out;
}

.btn:focus {
    color: #F5F5F5;
    background-color: #5C8DB9;
}

.btn:hover {
    color: #F5F5F5;
    background-color: #5C8DB9;
}

.btn:active {
    color: #F5F5F5;
    background-color: #5C8DB9;
}

/* header */
.header__container {
    padding: 12px 0;
}

.header__icon {
    padding: 4px 13px;
    background-color: #fff;
    border-radius: 90px;
    width: 80px;
    height: 40px;
}

.header__nav {
    margin: auto;
}

.header__item {
    margin: auto 0 auto 45px;
    padding: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #334155;
    outline: 2px solid #5C8DB9;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color color 0.3s ease-in-out;
}

.header__item:focus {
    color: #334155;
    outline: none;
}

.header__item:hover {
    color: #FFF;
    background-color: #5C8DB9;
}

.header__item:active {
    color: #334155;
}

.header__item.active {
    color: #FFF;
    background-color: #5C8DB9;
}

/*.header__item:not(:first-child) {*/
/*    margin-left: 45px;*/
/*}*/

/*.header__item:last-child {*/
/*    margin: auto 0;*/
/*    margin-left: 15px;*/
/*}*/

.heart-header {
    margin-left: 125px;
}

.header__profile {
    margin: auto 0;
    background-size: cover;
    background-position: center;
    /* background-color: #334155; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile__exit {
    margin: auto 0;
}

.profile__avatar {
    fill: rgba(255, 229, 134, 1);
    transition: fill 0.2s ease-in-out;
}

.profile__avatar:hover {
    fill: rgba(254, 200, 0, 1);
}

.profile__exit_icon {
    fill: #334155;
    stroke: #334155;
    transition: fill stroke 0.2s ease-in-out;
}

.profile__exit_icon:hover {
    fill: #5C8DB9;
    stroke: #5C8DB9;
}

.vertical-line {
    margin: auto 0;
    margin-left: 32px;
    width: 1px;
    height: 40px;
    background-color: rgba(255, 237, 134, 1);
    display: inline-block;
}

.horizontal-line {
    margin: 0 auto;
    width: 99%;
    border: 1px solid #E2E8F0;
}

/* main */

.description__container {
    margin-top: 50px;
}

.description__text {
    text-align: center;
    font-weight: 400;
    font-size: 17px;
    line-height: 19px;
    font-style: italic;
    text-shadow: 0 0 5px rgba(255, 237, 134, 1);
}

.cards {
    margin-top: 80px;
}

.cards__content {
    width: 99%;
    margin: 0 auto;
}

.cards__title2 {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: rgba(0, 0, 0, 1)
}

.cards__title1 {
    margin: 0;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: rgba(0, 0, 0, 1)
}

.cards__list {
    margin-top: 50px;
}

.cards__item {
    margin: 0;
    margin-bottom: 40px;
    outline: 2px solid rgba(255, 237, 173, 1);
    border-radius: 20px;
    width: 352px;
    min-height: 459px;
    transition: outline 0.3s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
}

.cards__item:not(:last-child) {
    margin-right: 32px;
}

.cards__item:hover {
    outline: 2px solid rgba(255, 222, 103, 1);
    box-shadow: 0 0 25px rgba(255, 237, 173, 1);
}

.cards__item:focus {
    outline: 2px solid rgba(255, 237, 173, 1);
}

.cards__item:active {
    outline: 2px solid rgba(254, 200, 0, 1);
}

.cards__preview_content {
    margin: 0;
    padding: 30px 40px;
}

.cards__preview_name {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(20, 20, 22, 1);
}

.cards__preview_descr {
    margin: 0;
    width: 249px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: rgba(20, 20, 22, 1);
}

.cards__preview_image {
    /* margin-top: 30px;
    height: 188px; */
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards__photo {
    max-height: 100%;
    /* height: 273px; */
    width: 352px;
    object-fit: contain;
    border-radius: 20px 20px 0 0;
}


/* questions */
.questions {
    margin-top: 100px;
    margin-bottom: 100px;
}

.questions__content {
    width: 98%;
    margin: 0 auto;
}

.questions__title2 {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: rgba(0, 0, 0, 1)
}

.questions__title1 {
    margin: 0;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: rgba(0, 0, 0, 1)
}

.questions__list {
    margin-top: 40px;
}

.questions__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    /* width: 354px; */
    min-height: 345px;
    background-color: rgba(244, 245, 246, 1);
    border-radius: 20px;
    outline: 2px solid rgba(254, 200, 0, 1);
    cursor: pointer;
    transition: outline 0.3s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
}

.questions__item:not(:last-child) {
    margin-right: 32px;
}

.questions__item:hover {
    outline: 2px solid rgba(255, 222, 103, 1);
    box-shadow: 0 0 25px rgba(255, 237, 173, 1);
}

.questions__item_question {
    margin: 0;
    padding: 30px 25px 0 25px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: rgba(59, 82, 102, 1);
}

.questions__item_author {
    margin-top: auto;
    padding: 0 25px;
    padding-bottom: 30px;
    width: 304px;
    height: 60px;
}

.questions__item_author_info {
    margin-left: 20px;
}

.questions__name {
    margin: 0;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    color: rgba(48, 70, 89, 1);
}

.questions__direction {
    margin: 0;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: rgba(85, 85, 85, 1);
}

/* search */
.search {
    margin-top: 80px;
}

.search__input {
    padding: 10px;
    padding-left: 45px;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    color: #334155;
    border: 1px solid #334155;
    border-radius: 8px;
    min-width: 500px;
}

.search__input::placeholder {
    color: #334155;
}

.search__form {
    position: relative;
}

.search__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
}

input[type="checkbox"] {
    appearance: none;
    border: 2px solid #ccc;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: #5C8DB9;
    border-color: #5C8DB9;
}

input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


/* filter */
.filter {
    margin-left: 68px;
    padding: 14px 17px;
    background-color: rgba(255, 150, 97, 1);
    border-radius: 10px;
    box-shadow: 3px 2px 5px rgb(235, 196, 177);;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.filter:hover {
    background-color: rgb(252, 105, 32);
}

.filter:focus {
    background-color: rgb(252, 105, 32);
}

.filter:active {
    background-color: rgb(189, 76, 20);
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* background-color: rgba(0, 0, 0, 0.4); */
}

.close {
    margin: auto 0;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    margin-left: auto;
    transition: color 0.3s ease-in-out;
}

.close:hover,
.close.focus {
    color: rgb(252, 105, 32);
    text-decoration: none;
    cursor: pointer;
}

.popup__header {
    margin: 0;
    display: flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 212, 55, 1);
}

.popup__content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    margin-left: 850px;
    padding: 14px 25px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 263px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.popup__line {
    margin: 0 auto;
    width: 100%;
    border: 1px solid rgba(217, 218, 219, 1);
}

.popup__btn {
    margin: 30px auto;
    padding: 5px 7px;
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    width: 140px;
}

.popup__list {
    margin-top: 25px;
}

.popup__item:not(:last-child) {
    margin-bottom: 15px;
}

.popup__item:last-child {
    margin-bottom: 30px;
}

.filter__name {
    margin: 0;
    margin-left: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(75, 81, 87, 1);
}

.filter__count {
    margin: 0;
    margin-left: auto;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(147, 150, 153, 1);
}

.popup__text {
    margin: 0;
    margin-top: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(147, 150, 153, 1);
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

/* tutor-cards */
.tutor_cards {
    margin-bottom: 80px;
}

.tutor_cards__list {
    margin-top: 50px;
    flex-wrap: wrap;
}

.tutor_cards__item {
    margin: 0;
    margin-right: 32px;
    outline: 2px solid rgba(255, 237, 173, 1);
    border-radius: 20px;
    width: 255px;
    min-height: 383px;
    transition: outline 0.1s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
}

.tutor_cards__item:nth-child(4n) {
    margin-right: 0;
}

.tutor_cards__item:nth-child(-n+8) {
    margin-bottom: 80px;
}

.tutor_cards__item:hover {
    outline: 2px solid rgba(255, 222, 103, 1);
    box-shadow: 0 0 25px rgba(255, 237, 173, 1);;
}

.tutor_cards__preview_content {
    margin: 0;
    padding: 40px 10px;
    padding-top: 23px;
}

.tutor_cards__preview_name {
    margin: 0;
    margin-bottom: 20px;
    padding-top: 17px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(20, 20, 22, 1);
}

.tutor_cards__preview_descr {
    margin: 0;
    width: 219px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: rgba(20, 20, 22, 1);
}

.tutor_cards__preview_image {
    /* margin-top: 25px;
    height: 188px; */
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;

    /* width: 255px; */
}

.tutor_cards__photo {
    /* width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%; */
    width: 255px;
    height: 188px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

/* .tutor_cards__btn {
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 130px;
    width: 322px;
} */

.notice-btn {
    margin: auto 0 auto auto;
    border-radius: 50%;
    fill: #FF9661;
    cursor: pointer;
    transition: fill 0.2s ease-in-out;
}

.notice-btn:hover {
    fill: rgb(208, 77, 12);;
}

.card {
    cursor: pointer;
}

.front,
.back {
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform 0.5s linear;
}

.front {
    transform: perspective(600px) rotateY(0deg);
}

.back {
    transform: perspective(600px) rotateY(180deg);
    background-color: #ffe585;
    border-radius: 20px;
    position: relative;
    width: 100%;
    height: 100%;
}

.back-content {
    color: rgba(24, 33, 53, 1);
    text-align: center;
    padding: 21px 18px;
}

.card:hover > .front {
    transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .back {
    transform: perspective(600px) rotateY(0deg);
}

/* questions-list */
.questions-list {
    margin-top: 80px;
}

.questions-list__write {
    margin-top: 80px;
}

.questions-list__write_title {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: rgba(35, 38, 47, 1);
}

.questions-list__write_form {
    margin-top: 40px;
    padding: 24px;
    height: 80px;
    width: 1000px;
    position: relative;
    outline: 2px solid rgba(255, 229, 134, 1);
    border-radius: 15px;
    box-shadow: 0 0 7px rgba(254, 200, 0, 1);
}

.questions-list__write_form input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(98, 98, 100, 1);
}

.questions-list__write_form button {
    margin: 0 auto;
    margin-left: 24px;
    padding: 0;
    width: 150px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: rgba(252, 252, 253, 1);
}

.questions-block {
    margin-top: 100px;
    position: relative;
}

.questions-block:not(:last-child) {
    margin-bottom: 80px;
}

.questions-block:last-child {
    margin-bottom: 50px;
}

.questions-block__datatime {
    margin: 0;
    position: absolute;
    right: 0;
    color: rgba(119, 126, 144, 1);
}

.questions-block__avatar {
    border-radius: 50%;
    margin-top: 0;
    width: 65px;
    height: 65px;
}

.questions-block__title {
    margin-left: 20px;
}

.questions-block__name {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: rgba(54, 57, 64, 1);
    font-style: italic;
    cursor: pointer;
}

.questions-block__theme {
    margin: 0;
    margin-top: 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 25px;
    width: 900px;
    color: #363940;
}

.questions-block__descr {
    margin: 0;
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    width: 900px;
    color: rgba(54, 57, 64, 1);
}

.questions-block__review {
    margin-top: 110px;
}

.questions-block__review_like_image {
    cursor: pointer;
}

.questions-block__review_like_count {
    margin-left: 10px;
}

.questions-block__review_comment {
    margin: auto 0;
    margin-left: auto;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: rgba(0, 0, 0, 1);
}

.questions-block__review_comment_count {
    margin: auto 0;
    font-weight: bold;
    font-size: 18px;
}

.questions__btn {
    width: 180px;
}

.questions__btn_image {
    vertical-align: middle;
    margin-left: 10px;
}

.comment-text {
    display: block;
    margin-left: auto;
    text-align: right;
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.comment-text:hover {
    color: rgba(66, 84, 102, 1);
}

.comment-text:focus {
    color: rgba(255, 150, 97, 1);
}

.comment-text:active {
    color: rgba(255, 150, 97, 1);
}

.hidden {
    display: none;
    margin-top: 30px;
}

/* notices */
.notices__container {
    max-width: 925px;
    margin-bottom: 100px;
}

.notices__title {
    margin: 0;
    margin-top: 100px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: rgba(35, 38, 47, 1);
    text-align: center;
}

.notices__item {
    margin-top: 32px;
    padding: 20px;
}

.notices__item_avatar {
    margin: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.notices__item_content {
    margin-left: 20px;
    margin-right: auto;
    width: 50%;
    flex-basis: auto;
    cursor: pointer;
}

.notices__item__name {
    display: inline;
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: rgba(20, 20, 22, 1);
}

.notices__item__descr {
    margin: 0;
    margin-top: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: rgba(20, 20, 22, 1);
    transition: color 0.3s;
}

.notices__item__descr:focus {
    color: #000;
}

.notices__item__descr:hover {
    color: #6e6e6e;
}

.notices__item__descr:active {
    color: #000;
}

.notices__item_btns {
    margin: 0;
    margin-top: 8px;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
}

.notice_accept {
    margin: 0;
    margin-right: 30px;
    padding: 15px 16px;
    min-width: 150px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    outline: 2px solid #C3EEB3;
    border-radius: 16px;
    color: #C3EEB3;
    transition: background-color 0.3s, color 0.3s;
    background-color: transparent;
    border: none;
}

.appclication_accept {
    margin-top: 20px;
    margin-right: 30px;
    padding: 15px 16px;
    min-width: 150px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    outline: 2px solid #C3EEB3;
    border-radius: 16px;
    color: #C3EEB3;
    transition: background-color 0.3s, color 0.3s;
    background-color: transparent;
    border: none;
}

.appclication_accept:hover {
    background-color: #C3EEB3;
    color: #fff;
}

.notice_accept:hover {
    background-color: #C3EEB3;
    color: #fff;
}

.notice_reject {
    margin: 0;
    margin-right: 30px;
    padding: 15px 16px;
    min-width: 150px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    outline: 2px solid #FFA5A4;
    border-radius: 16px;
    color: #FFA5A4;
    transition: background-color 0.3s, color 0.3s;
    background-color: transparent;
    border: none;
}

.notice_reject:hover {
    background-color: #FFA5A4;
    color: #fff;
}

.notices__item_btns-accept {
    margin: 0;
    margin-top: 10px;
    color: #C3EEB3;
    transition: color 0.2s ease-in-out;
}

.notices__item_btns-accept:focus {
    color: rgb(37, 84, 20);
    outline: none;
}

.notices__item_btns-accept:hover {
    color: rgb(100, 228, 54);;
}

.notices__item_btns-accept:active {
    color: rgb(37, 84, 20);
}

.notices__item_btns-reject {
    margin-left: 15px;
    color: rgba(255, 165, 164, 1);
    transition: color 0.2s ease-in-out;
}

.notices__item_btns-reject:focus {
    color: rgb(122, 37, 35);
    outline: none;
}

.notices__item_btns-reject:hover {
    color: rgb(216, 68, 65);
}

.notices__item_btns-reject:active {
    color: rgb(122, 37, 35);
}

.notices__form {
    margin-top: 6px;
    margin-left: auto;
    width: auto;
}

.notices__input {
    padding: 12px 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #000;
    border: 2px solid #E6E8EC;
    border-radius: 16px;
    box-shadow: 0 0 10px #d7d6d6;
    width: 100%;
}

.notices__input_stars {
    margin-top: 15px;
    padding: 0px 130px;
    border: 2px solid #FFE586;
    border-radius: 16px;
    width: 100%;
}

.notices__input:focus {
    outline: 2px solid rgba(119, 126, 144, 1);
}

.notices__input_comment {
    margin-top: 15px;
    padding: 8px 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: rgba(119, 126, 144, 1);
    background-color: rgb(243, 242, 242);
    border-radius: 12px;
    box-shadow: 0 0 10px #d7d6d6;
    width: 75%;
    border: none;
}

.notices__input_comment:focus {
    outline: 2px solid rgba(119, 126, 144, 1);
}

.notices__form_btn {
    margin: 0;
    margin-top: 16px;
    padding: 0 100px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(119, 126, 144, 1);
    width: 100%;
    border: none;
    border-radius: 16px;
    background-color: #fff;
    outline: 2px solid rgba(255, 229, 134, 1);
    transition: outline 0.3s ease-in-out;
    transition: background-color 0.1s ease-in-out;
}

.notices__form_btn:focus {
    background-color: rgba(255, 229, 134, 1);
    outline: 2px solid rgba(254, 200, 0, 1);
}

.notices__form_btn:hover {
    outline: 2px solid rgba(254, 200, 0, 1);
}

.notices__form_btn:active {
    background-color: rgba(255, 229, 134, 1);
    outline: 2px solid rgba(254, 200, 0, 1);
}

.notices__status_accepted {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    padding: 12px 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    border-radius: 12px;
    width: 150px;
    color: rgb(144, 229, 115);
    outline: 2px solid rgba(195, 238, 179, 1);
}


.notices__comment {
    margin: auto 0;
    margin-top: 15px;
    padding: 10px;
    background-color: rgb(243, 242, 242);
    border-radius: 10px;
    width: 75%;
}

.notices__link {
    width: 150px;
    margin: auto 20px auto 0;
    padding: 10px;
    background-color: rgb(243, 242, 242);
    border-radius: 10px;
}

.notices__status_rejected {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    padding: 12px 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    border-radius: 12px;
    width: 150px;
    color: rgb(255, 133, 132);
    outline: 2px solid rgba(255, 165, 164, 1);
}

.notices__status_reviewed {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    padding: 12px 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    border-radius: 12px;
    width: 150px;
    color: rgb(236, 205, 87);
    outline: 2px solid rgba(255, 229, 134, 1);
}

/* notifications */
.notifications-counter {
    vertical-align: top;
    padding: 2px 5px;
    background-color: #5C8DB9;
    color: #fff;
    border-radius: 50%;
}

/* application_form */
.application-form__container {
    max-width: 845px !important;
    margin: 0 auto;
    margin-bottom: 100px;
}

.application-form__content {
    margin-top: 60px;
}

.application-form__title {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #23262F;
}

.application-form__form {
    margin-top: 50px;
}

.application-form__data:not(:last-child) {
    margin-bottom: 32px;
    position: relative;
}

.application-form__input {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: rgba(119, 126, 144, 1);
    background-color: rgba(252, 252, 253, 1);
    border: none;
    outline: 2px solid rgba(230, 232, 236, 1);
    border-radius: 12px;
    color: #000;
    width: 100%;
}

.application-form__input__big {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: rgba(119, 126, 144, 1);
    background-color: rgba(252, 252, 253, 1);
    border: none;
    outline: 2px solid rgba(230, 232, 236, 1);
    border-radius: 12px;
    color: #000;
    width: 100%;
}

.application-form__input_file {
    padding-left: 75px;
}

.application-form__attachment {
    position: absolute;
    padding: 10px;
}

.application-form__label {
    margin: 0;
    margin-bottom: 10px;
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: rgb(136, 141, 150);
    text-transform: uppercase;
}

.application-form__label__type {
    margin: 0;
    margin-bottom: 10px;
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 12px;
    color: rgb(28, 32, 33);
    text-transform: uppercase;
}

.application-form__checkbox_text {
    margin: 0;
    margin-left: 15px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #4B5157;
}

.application-form__question {
    margin-top: 50px;
    padding: 24px;
    height: 80px;
    width: 925px;
    position: relative;
    outline: 2px solid rgba(255, 229, 134, 1);
    border-radius: 15px;
    box-shadow: 0 0 7px rgba(254, 200, 0, 1);
}

.application-form__question input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(98, 98, 100, 1);
}

.application-form__question button {
    margin: 0 auto;
    margin-left: 24px;
    padding: 0;
    width: 150px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: rgba(252, 252, 253, 1);
}

/* application */
.application__title {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #182135;
}

.application__content {
    margin-top: 30px;
    width: 480px;
}

.application__text {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: #182135;
}

.application__label {
    margin: 0;
    margin-bottom: 10px;
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: rgba(177, 181, 195, 1);
    text-transform: uppercase;
}

.application__input {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: rgba(119, 126, 144, 1);
    background-color: rgba(252, 252, 253, 1);
    border: none;
    outline: 2px solid rgba(230, 232, 236, 1);
    border-radius: 12px;
    color: #000;
    width: 100%;
}

.application__input_file {
    padding-left: 75px;
}

.application__attachment {
    position: absolute;
    padding: 10px;
}

.application__btn {
    margin: 60px 0;
    padding: 15px 10px;
    width: 150px;
}

.application__btn_image {
    vertical-align: middle;
    margin-left: 10px;
}

.application__btn_send {
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    padding: 15px 10px;
    width: 150px;
}

/* user */
.user__content {
    margin-top: 40px;
}

.user__image {
    display: block;
    margin: 0 auto;
    /*width: 255px;*/
    /*height: 188px;*/
    /*outline: 2px solid rgba(255, 150, 97, 1);*/
    /*border-radius: 20px 20px 0 0;*/
    /*max-width: 100%;*/
    /*max-height: 100%;*/
    /*object-fit: contain;*/
    /* width: 255px;
    height: 255px;
    border-radius: 50%;
    object-fit: cover; */
    width: 255px;
    height: 188px;
    outline: 2px solid #5C8DB9;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.user__avatar {
    width: 290px;
    padding-top: 9px;
    background-color: #F8FAFC;
    border-radius: 16px;
    height: 100%;
}

.user__avatar_input {
    margin-top: 20px;
}

.avatar-button {
    margin-top: 10px;
    padding: 13px 0;
    width: 255px;
}

.user__info {
    margin-left: 40px;
    width: 950px;
}

.user__project {
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px;
    border: 1px solid #334155;
    border-radius: 8px;
}

.user__project span {
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    color: #334155;
}

.user__project span:not(:first-child) {
    margin-left: 100px;
}

.user__input_top {
    padding: 34px 24px;
    border: 1px solid #E2E8F0;
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
}

.user__form {
    padding: 34px 24px;
    border: 1px solid #E2E8F0;
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
}

.user__form_info {
    margin: 0;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(35, 38, 47, 1);
}

.user__competencies {
    margin-top: 24px;
    padding: 34px 24px;
    border: 1px solid #E2E8F0;
    border-radius: 16px;
    /* display: flex;
    flex-wrap: wrap; */
}

.user__competencies_title {
    margin: 0;
    margin-bottom: 16px;
    font-family: 600;
    font-size: 18px;
    line-height: 160%;
    color: #0F172A;
}

.user__competencies_item {
    width: 100%;
}

.user__competencies_item:not(:last-child) {
    margin-bottom: 16px;
}

.user__competencies_item-title {
    margin: 0;
    margin-bottom: 6px;
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: rgba(177, 181, 195, 1);
    text-transform: uppercase;
}

.user__competencies_item-input {
    display: flex;
    flex-wrap: wrap;
}

.user__competencies_item-value {
    margin: 0;
    margin-right: 25px;
    padding: 10px 16px;
    color: #141416;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    border: 1px solid #E2E8F0;
    border-radius: 8px;
    text-align: center;
    min-width: 117px;
}

#fileListProfile {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.user__photo {
    margin-top: 24px;
    padding: 24px;
    border: 1px solid #E2E8F0;
    border-radius: 16px;
}

.user__photo_title {
    margin: 0;
    font-family: 600;
    font-size: 18px;
    line-height: 160%;
    color: #0F172A;
}

.user__photo_image {
    padding: 16px;
    border: 1px solid #E2E8F0;
    border-radius: 16px;
    width: 425px;
    height: 225px;
}

.user__photo_preview {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    border-radius: 8px;
}

.user__photo_name {
    margin-top: 10px;
}

.btn_close {
    display: none;
    margin-left: 10px;
    cursor: pointer;
    padding: 0;
    border: none;
    background-color: transparent;
}

.user__photo_load {
    margin-top: 76px;
}

.user__photo_load {
    display: none;
}

.custom-file-button {
    margin-top: 76px;
    padding: 17px 24px;
    display: inline-block;
    color: #5C8DB9;
    border: 2px solid #5C8DB9;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    transition: color background-color 0.3s ease;
}

.custom-file-button:hover {
    color: #fff;
    background-color: #5C8DB9;
}

.user__data:not(:last-child) {
    margin-bottom: 16px;
}

.user__data:nth-last-child(-n+2) {
    margin-bottom: 0;
}

.user__data_right {
    margin-left: 20px;
}

.user__data input {
    color: #000;
}

.user__data:nth-child(2),
.user__data:nth-child(4),
.user__data:nth-child(7),
.user__data:nth-child(10) {
    margin-left: 50px;
}

.user__data:nth-child(5),
.user__data:nth-child(8) {
    width: 100%;
}

.user__data_unik, .user__data_role {
    width: 100%;
}


.user__data-edit:not(:last-child) {
    margin-bottom: 16px;
}

.user__data-edit:nth-last-child(-n+2) {
    margin-bottom: 0;
}

.user__data-edit input {
    color: #000;
}

.user__data-edit:nth-child(2),
.user__data-edit:nth-child(4),
.user__data-edit:nth-child(7),
.user__data-edit:nth-child(10) {
    margin-left: auto;
}

.unik {
    width: 100%;
}

.user__form_data {
    margin: 0;
    padding: 12px 16px;
    border: 2px solid #E6E8EC;
    border-radius: 12px;
    min-width: 300px;
}

.specialization {
    color: #fff;
    background-color: #5C8DB9;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    display: inline-block;
}

.user__form_data_link {
    margin: 0;
    padding: 16px;
    color: #141416;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    border: 1px solid #E2E8F0;
    border-radius: 12px;
    min-width: 420px;
}

.user__form_data_link_notifications {
    color: #0069c2;
    margin: auto 40px auto 0;
    padding: 10px;
    min-width: 300px;
}

.user__name {
    margin: 0;
    margin-top: 16px;
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #020617;
    text-align: center;
}

.lk__menu {
    margin: 0;
    margin-top: 24px;
    padding: 0;
    list-style: none;
}

.lk__item {
    padding: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #334155;
    border-bottom: 1px solid #E2E8F0;
    transition: color background-color 0.3s ease;
}

.lk__item:hover {
    font-weight: 700;
    color: #FFFFFF;
    background-color: #5C8DB9;
    cursor: pointer;
}

.lk__item.active {
    font-weight: 700;
    color: #FFFFFF;
    background-color: #5C8DB9;
}

.lk__item:last-child {
    border-radius: 0 0 16px 16px;
}

.user__input {
    margin-left: 40px;
    width: 950px;
}

.user__form_input {
    /* margin-bottom: 30px; */
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: rgba(119, 126, 144, 1);
    background-color: rgba(252, 252, 253, 1);
    border: none;
    outline: 2px solid rgba(230, 232, 236, 1);
    border-radius: 12px;
    width: 100%;
}

.user__form_title {
    margin: 0;
    margin-bottom: 6px;
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: rgba(177, 181, 195, 1);
    text-transform: uppercase;
}

.user__form_projects {
    margin: 0;
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(35, 38, 47, 1);
}

.user__btn {
    width: 256px;
}

.user__btn__index {
    width: 256px;
    margin-left: 39%;
    margin-right: 50%;
}

.user__area {
    margin-top: 25px;
}

.user_item:not(:last-child) {
    margin-bottom: 15px;
}

/* meetings  */
.meeting__container {
    margin: 20px auto;
}

.meeting__search {
    position: relative;
    margin: 0 auto;
}

.meeting__search_input {
    margin-right: 40px;
    padding: 15px;
    padding-left: 45px;
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
    color: #334155;
    border: 1px solid #334155;
    border-radius: 8px;
    width: 100%;
}

.meeting__search_input::placeholder {
    color: #334155;
}

.meeting__list {
    margin-top: 20px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #DDDFE4;
    border-radius: 10px;
    overflow: hidden;
}

.meeting__list th {
    padding: 10px 20px;
    text-align: left;
    background-color: #DDDFE4;
    font-weight: bold;
}

.meeting__list td {
    padding: 20px;
    border-bottom: 2px solid #DDDFE4;
    text-align: left;
}

.meeting__list tr:last-child td {
    border-bottom: none;
}

.sort-data:hover {
    cursor: pointer;
}

/* modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
    position: relative;
}

.column-filter-item {
    margin-right: 5px;
    margin-bottom: 10px;
}

.apply-modal-btn {
    margin-top: 10px;
    padding: 5px;
    color: #5C8DB9;
    font-size: 16px;
    font-weight: 500;
    background-color: #FFF;
    border: 2px solid #5C8DB9;
    border-radius: 5px;
    transition: color background-color 0.3s ease-in-out;
    cursor: pointer;
}

.apply-modal-btn:hover {
    color: #FFF;
    background-color: #5C8DB9;
}

.close-modal-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* column-filter */
table th,
table td {
    padding: 10px;
}

table th {
    cursor: pointer;
}

.hidden {
    display: none;
}

.column-filter:hover {
    cursor: pointer;
}

mark {
    background-color: #81d4fa;
}

/* upload projects  */
.file-item {
    margin-bottom: 10px;
    position: relative;
    padding: 5px 25px 5px 10px;
    background-color: #e6e6e6;
    border-radius: 6px;
    font-size: 14px;
    white-space: nowrap;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-item .remove-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    font-weight: bold;
    color: #888;
    cursor: pointer;
    display: none;
}

.file-item:hover .remove-btn {
    display: block;
}

/* competency-modal */
.competency-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.competency-modal-content {
    margin: 50px auto auto auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    height: 500px;
    width: 1000px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    position: relative;
}

.competency-modal-content h3 {
    margin-top: 0;
}

#skillsOptions, #competencyOptions, #specializationsOptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.competency-option {
    padding: 8px 10px;
    margin: 5px 5px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #f0f0f0;
    min-width: 100px;
    text-align: center;
}

.competency-option:hover {
    background-color: #dcdcdc;
}

#selectedCompetencies p {
    margin: 0;
    margin-left: 25px;
    padding: 10px 16px;
    color: #141416;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    border: 1px solid #E2E8F0;
    border-radius: 8px;
    text-align: center;
    min-width: 117px;
}

#selectedCompetencies p:first-child {
    margin: 0;
}

.close-competency-modal-content-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

#selectedSkills, #selectedCompetencies {
    display: flex;
    flex-wrap: wrap;
}




.competencies__search {
    position: relative;
}

.competencies__search_input {
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 12px;
    padding-left: 45px;
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
    color: #334155;
    border: 1px solid #334155;
    border-radius: 8px;
    width: 100%;
}

.competencies__search_input::placeholder {
    color: #334155;
}

.skills__search_input {
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 12px;
    padding-left: 45px;
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
    color: #334155;
    border: 1px solid #334155;
    border-radius: 8px;
    width: 100%;
}

.skills__search_input::placeholder {
    color: #334155;
}

.skills__search-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.competencies__search-icon {
    width: 20px;
    height: 20px;
    display: none;
}

.skills__search  {
    position: relative;
}

.search-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.search-dropdown .competency-option {
    padding: 8px 12px;
    cursor: pointer;
}

.search-dropdown .competency-option:hover {
    background-color: #f0f0f0;
}


.btn_upload-projects {
    margin: 0;
    margin-left: 10px;
    padding: 5px 15px;
    color: #8A8A8A;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    border: 1px solid #E2E8F0;
    border-radius: 8px;
    text-align: center;
    min-width: 117px;
    cursor: pointer;
}

.btn_upload-projects:first-child {
    margin: 0;
}

/* application */
.application__container {
    margin: 60px auto;
    max-width: 1100px;
}

.application__title {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    color: #23262F;
}

.application__list {
    width: 100%;
    border-collapse: collapse;
}

.application__item:not(:last-child) {
    border-bottom: 1px solid #858C9C;
    transition: background-color 0.1s ease-in-out;
}

.application__item:hover {
    background-color: #e6e7e8;
}

.application__item_name {
    padding-left: 150px;
}

.application__item_content {
    display: flex;
    justify-content: center;
    padding-left: 100px;
}

.application__item_status {
    padding: 12px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #6BAE4B;
    text-align: center;
    width: 150px;
    border: 2px solid #6BAE4B;
    border-radius: 12px;
}

.status-accept {
    color: #6BAE4B;
    border: 2px solid #6BAE4B;
}

.status-checking {
    color: #FFB200;
    border: 2px solid #FFB200;
}

.status-reject {
    color: #FD7472;
    border: 2px solid #FD7472;
}

.status-gap {
    margin-left: 50px
}

/* events */
.event__container {
    margin: 20px auto;
}

.event__list {
    margin-top: 20px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #DDDFE4;
    border-radius: 10px;
    overflow: hidden;
}

.event__list th {
    padding: 10px 18px;
    text-align: left;
    background-color: #DDDFE4;
    font-weight: bold;
}

.event__list td {
    padding: 20px;
    border-bottom: 2px solid #DDDFE4;
    text-align: left;
}

.event__list tr:last-child td {
    border-bottom: none;
}

.event-status {
    padding: 10px 25px;
    font-size: 16px;
    color: #6BAE4B;
    border: 1px solid #6BAE4B;
    border-radius: 10px;
    cursor: pointer;
}

.event__title {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    color: #000000;
}

.event__info-status {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    font-size: 16px;
    line-height: 50px;
    background-color: #6BAE4B;
    border: 2px solid #000000;
    border-radius: 10px;
    height: 40px;
}

.event__info {
    margin-top: 15px;
    width: 100%;
}

.event__info-text {
    margin: 0;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    border: 1px solid #858C9C;
    border-radius: 10px;
}

.btn_event-close {
    margin-top: 15px;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    background-color: #5C8DB9;
    transition: color background-color 0.3s ease-in-out;
}

.btn_event-close:hover {
    color: #5C8DB9;
    background-color: #FFF;
    border: 2px solid #5C8DB9;
}

.event__list tbody tr:hover {
    cursor: pointer;
    background-color: #DDDFE4;
}



.specializations__search {
    position: relative;
    margin: 0 auto;
}

.specializations__search_input {
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 12px;
    padding-left: 45px;
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
    color: #334155;
    border: 1px solid #334155;
    border-radius: 8px;
    width: 100%;
}

.specializations__search_input::placeholder {
    color: #334155;
}

#role1, #role2, #role3 {
    color: #000;
}

.member__photo {
    margin: auto 0;
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.member__name {
    margin: auto 0;
    margin-left: 10px;
}