<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JustDoIT</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css" crossorigin="">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/media.css">
    <link type="image/x-icon" href="/static/img/icon.ico?v=2" rel="icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="container header__container flex">
        <a href="/" class="header__item" style="margin-right: auto;">Список мероприятий</a>
        <a href="" class="header__profile profile"><img class="header__profile" src="/static/img/default_avatar.jpeg" alt="Аватар"></a>
        <a href="/logout" class="profile__exit">
            <svg class="profile__exit_icon" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="45" height="45"
                 viewBox="100 45 150 300" xml:space="preserve">
                    <g transform="matrix(6.25 0 0 6.25 240.13 200)" id="logout">
                        <line style="stroke-width: 2; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;"
                              x1="-6.500000000000001" y1="0" x2="6.500000000000001" y2="0"/>
                    </g>
                <g transform="matrix(6.25 0 0 6.25 199.56 200)" id="logout">
                        <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill-rule: nonzero; opacity: 1;"
                              transform=" translate(-15.93, -16)"
                              d="M 23.93 25 v 3 h -16 V 4 h 16 V 7 h 2 V 3 a 1 1 0 0 0 -1 -1 h -18 a 1 1 0 0 0 -1 1 V 29 a 1 1 0 0 0 1 1 h 18 a 1 1 0 0 0 1 -1 V 25 Z"
                              stroke-linecap="round"/>
                    </g>
                <g transform="matrix(6.25 0 0 6.25 268.25 212.5)" id="logout">
                        <line style="stroke-width: 2; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;"
                              x1="2" y1="-2" x2="-2" y2="2"/>
                    </g>
                <g transform="matrix(6.25 0 0 6.25 268.25 187.5)" id="logout">
                        <line style="stroke-width: 2; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;"
                              x1="2" y1="2" x2="-2" y2="-2"/>
                    </g>
                <g transform="matrix(6.25 0 0 6.25 255.75 144.31)" id="logout">
                        <line style="stroke-width: 2; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;"
                              x1="0" y1="1" x2="0" y2="-1"/>
                    </g>
                <g transform="matrix(6.25 0 0 6.25 255.75 256.25)" id="logout">
                        <line style="stroke-width: 2; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;"
                              x1="0" y1="1" x2="0" y2="-1"/>
                    </g>
            </svg>
        </a>
    </div>
</header>

<hr class="horizontal-line">

<main class="events">
    <div class="container event__container">
        <form action="#" class="meeting__search flex">
            <img src="/static/img/search.png" alt="Поиск" class="search__icon">
            <input class="meeting__search_input" type="text" placeholder="Поиск" id="search-input">
            <img class="column-filter" src="/static/img/column-filter.svg" alt="Фильтр по колонкам">
        </form>

        <table class="event__list">
            <thead>
                <tr>
                    <th id="date-header">Название проекта <img class="sort-data" src="/static/img/filter-meetings.png"></th>
                    <th id="start-time-header">Направление <img class="sort-data" src="/static/img/filter-meetings.png"></th>
                    <th id="end-time-header">Заказчик <img class="sort-data" src="/static/img/filter-meetings.png"></th>
                    <th id="participants-header">Команда <img class="sort-data" src="/static/img/filter-meetings.png"></th>
                    <th id="participants-header">Ответственный <img class="sort-data" src="/static/img/filter-meetings.png"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Точка Сбора</td>
                    <td>ВЕБ</td>
                    <td>НПЦ РИЦ</td>
                    <td>Команда 1</td>
                    <td>Смирнов Денис</td>
                </tr>
                <tr>
                    <td>ЛК стажера</td>
                    <td>CRM</td>
                    <td>НПЦ РИЦ</td>
                    <td>Команда 1</td>
                    <td>Иванов Иван</td>
                </tr>
                <tr>
                    <td>Веб-сайт автомойка</td>
                    <td>ВЕБ</td>
                    <td>НПЦ РИЦ</td>
                    <td>Команда 1</td>
                    <td>Иванов Иван</td>
                </tr>
                <tr>
                    <td>Портфолио</td>
                    <td>ВЕБ</td>
                    <td>НПЦ РИЦ</td>
                    <td>Команда 1</td>
                    <td>Иванов Иван</td>
                </tr>
                <tr>
                    <td>Фитнес сервис</td>
                    <td>Мобилка</td>
                    <td>НПЦ РИЦ</td>
                    <td>Команда 1</td>
                    <td>Иванов Иван</td>
                </tr>
            </tbody>
        </table>

        <div class="modal" id="column-modal">
        <div class="modal-content">
            <h2>Фильтр столбцов</h2>
            <form id="column-filter-form">
                <label class="flex"><input class="column-filter-item" type="checkbox" name="column" value="0" checked> Название проекта</label>
                <label class="flex"><input class="column-filter-item" type="checkbox" name="column" value="1" checked> Направление</label>
                <label class="flex"><input class="column-filter-item" type="checkbox" name="column" value="2" checked> Заказчик</label>
                <label class="flex"><input class="column-filter-item" type="checkbox" name="column" value="3" checked> Команда</label>
                <label class="flex"><input class="column-filter-item" type="checkbox" name="column" value="4" checked> Ответственный</label>
                <button type="submit" class="apply-modal-btn">Применить</button>
                <button type="button" id="close-modal" class="btn-reset close-modal-btn">❌</button>
            </form>
        </div>
    </div>
</main>

<script>
    function displayImage(inputElement) {
        const file = inputElement.files[0];
        const imageURL = URL.createObjectURL(file);
        document.getElementById('preview').src = imageURL;
        inputElement.value = null;
        document.getElementById('preview').onload = () => URL.revokeObjectURL(imageURL);
    }
</script>

<script src="/static/js/search.js"></script>
<script src="/static/js/meeting-filter.js"></script>
<script src="/static/js/modal-filter.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/script.js"></script>
</body>
</html>