<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JustDoIT</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css" crossorigin="">
    <link rel="stylesheet" href="/static/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/media.css">
    <link type="image/x-icon" href="/static/img/icon.ico?v=2" rel="icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="container header__container flex">
        <nav class="header__nav">
            <ul class="header__list list-reset flex">
                <a href="/" class="header__item">Главная</a>
                <div class="header__item">
                    <form action="#" class="search__form">
                        <img src="/static/img/search.png" alt="Поиск" class="search__icon">
                        <input class="search__input" type="text" placeholder="Поиск">
                    </form>
                </div>
                <div class="header__item">
                    <a href="/notifications"><img src="/static/img/heart.png" alt=""></a>
                    <sup class="notifications-counter">0</sup>
                </div>
                <a class="header__item" href="#"><img src="/static/img/bell-01.png" alt=""></a>
            </ul>
        </nav>
        <a href="/profile/{{ user.id }}" class="header__profile profile"></a>
    </div>
</header>

<hr class="horizontal-line">

<main class="user">
    <div class="container user__container">
        <form method="post" enctype="multipart/form-data" action="/edit_profile/" class="user__content flex">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

            <div class="user__avatar">
                <img class="user__image" src="{{ profile.photo.url }}" alt="Аватар">
                <h1 class="user__name">{{ profile.first_and_last_name() }}</h1>
                <hr class="horizontal-line">
                <ul class="lk__menu">
                    <li class="lk__item">
                        <a href="/profile">
                            <span>Профиль</span>
                        </a>
                    </li>
                    <li class="lk__item">
                        <a href="#">
                            <span>Мои компетенции</span>
                        </a>
                    </li>
                    <li class="lk__item">
                        <a href="#">
                            <span>Статистика оценки</span>
                        </a>
                    </li>
                    <li class="lk__item">
                        <a href="#">
                            <span>Проект</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="user__input">
                <div class="user__input_top">
                    <div class="user__data-edit">
                        <label for="full_name" class="user__form_title">фио</label>
                        <input type="text" id="full_name" name="full_name" class="user__form_input user__form_data_link"
                               placeholder="Введите ФИО"
                               value="{{ profile.full_name() }}">
                    </div>

                    <div class="user__data-edit">
                        <label for="phone_number" class="user__form_title">Номер телефона</label>
                        {% if profile.phone_number != None %}
                            <input type="tel" id="phone_number" name="phone_number"
                                   class="user__form_input user__form_data_link"
                                   placeholder="Введите номер телефона" value="{{ profile.phone_number }}">
                        {% else %}
                            <input type="tel" id="phone_number" name="phone_number"
                                   class="user__form_input user__form_data_link"
                                   placeholder="Введите номер телефона" value="">
                        {% endif %}
                    </div>

                    <div class="user__data-edit">
                        <label for="email" class="user__form_title">email</label>
                        {% if profile.email != None %}
                            <input type="email" id="email" name="email" class="user__form_input user__form_data_link"
                                   placeholder="Введите email"
                                   value="{{ profile.email }}">
                        {% else %}
                            <input type="email" id="email" name="email" class="user__form_input user__form_data_link"
                                   placeholder="Введите email"
                                   value="">
                        {% endif %}
                    </div>

                    <div class="user__data-edit">
                        <label for="telegram" class="user__form_title">telegram</label>
                        {% if profile.telegram != None %}
                            <input type="text" id="telegram" name="telegram"
                                   class="user__form_input user__form_data_link"
                                   placeholder="Введите свой telegram"
                                   value="{{ profile.telegram }}">\
                        {% else %}
                            <input type="text" id="telegram" name="telegram"
                                   class="user__form_input user__form_data_link"
                                   placeholder="Введите свой telegram"
                                   value="">
                        {% endif %}
                    </div>

                    <div class="user__data-edit unik">
                        <label for="unik" class="user__form_title">учебное заведение</label>
                        {% if profile.university != None %}
                            <input type="text" id="unik" name="university" class="user__form_input user__form_data_link"
                                   placeholder="Введите учебное заведение"
                                   value="{{ profile.university }}">
                        {% else %}
                            <input type="text" id="unik" name="university" class="user__form_input user__form_data_link"
                                   placeholder="Введите учебное заведение"
                                   value="">
                        {% endif %}
                    </div>

                    <div class="user__data-edit">
                        <label for="specialization" class="user__form_title">специальность</label>
                        {% if profile.specialization != None %}
                            <input type="text" id="specialization" name="specialization"
                                   class="user__form_input user__form_data_link"
                                   placeholder="Введите специальность"
                                   value="{{ profile.specialization }}">
                        {% else %}
                            <input type="text" id="specialization" name="specialization"
                                   class="user__form_input user__form_data_link"
                                   placeholder="Введите специальность"
                                   value="">
                        {% endif %}
                    </div>

                    <div class="user__data-edit">
                        <label for="telegram" class="user__form_title">Курс</label>
                        {% if profile.specialization != None %}
                            <input type="text" id="year_of_study" name="year_of_study"
                                   class="user__form_input user__form_data_link"
                                   placeholder="Введите курс обучения"
                                   value="{{ profile.year_of_study }}">
                        {% else %}
                            <input type="text" id="year_of_study" name="year_of_study"
                                   class="user__form_input user__form_data_link"
                                   placeholder="Введите курс обучения"
                                   value="">
                        {% endif %}
                    </div>


                    {#                    <div class="user__data-edit unik">#}
                    {#                        <label for="role" class="user__form_title">роль в команде</label>#}
                    {#                        <input type="text" id="role" name="role" class="user__form_input user__form_data_link"#}
                    {#                               placeholder="Введите роль в команде"#}
                    {#                               value="">#}
                    {#                    </div>#}

                    {#                    <div class="user__data-edit">#}
                    {#                        <label for="telegram" class="user__form_title">дополнительная роль в команде</label>#}
                    {#                        <input type="text" id="telegram" name="telegram" class="user__form_input user__form_data_link"#}
                    {#                               placeholder="Дополнительная роль в команде"#}
                    {#                               value="">#}
                    {#                    </div>#}
                    {##}
                    {#                    <div class="user__data-edit">#}
                    {#                        <label for="telegram" class="user__form_title">дополнительная роль в команде</label>#}
                    {#                        <input type="text" id="telegram" name="telegram" class="user__form_input user__form_data_link"#}
                    {#                               placeholder="Дополнительная роль в команде"#}
                    {#                               value="">#}
                    {#                    </div>#}
                </div>

                <div class="user__photo">
                    <h2 class="user__photo_title">Фото профиля</h2>
                    <div class="user__photo_image">
                        <img class="user__photo_preview" id="preview" src="/static/img/base-photo.png"
                             alt="Превью изображения"/>
                    </div>
                    <label for="imageInput" class="custom-file-button">Загрузить</label>
                    <input type="file" id="imageInput" class="user__photo_load" accept="image/*"
                           onchange="displayImage(this)"/>
                </div>

                <input type="submit" class="btn btn-reset user__btn" value="Сохранить изменения">
            </div>
        </form>
    </div>
</main>

<script src="/static/js/swiper-bundle.min.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/script.js"></script>
</body>
</html>