<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JustDoIT</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css" crossorigin="">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/media.css">
    <link type="image/x-icon" href="/static/img/icon.ico?v=2" rel="icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="container header__container flex">
        <nav class="header__nav">
            <a href="/meetings" class="header__item">Собрания</a>
            <a href="/events" class="header__item">Мероприятия</a>
            <a href="/applications" class="header__item" style="margin-right: auto;">Заявки</a>
        </nav>
        <a href="/profile/{{ user.id }}" class="header__profile profile"><img class="header__profile"
                                                                              src="{{ profile.photo.url }}"
                                                                              alt="Аватар"></a>
        <a href="/logout" class="profile__exit">
            <svg class="profile__exit_icon" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="45" height="45"
                 viewBox="100 45 150 300" xml:space="preserve">
                    <g transform="matrix(6.25 0 0 6.25 240.13 200)" id="logout">
                        <line style="stroke-width: 2; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;"
                              x1="-6.500000000000001" y1="0" x2="6.500000000000001" y2="0"/>
                    </g>
                <g transform="matrix(6.25 0 0 6.25 199.56 200)" id="logout">
                        <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill-rule: nonzero; opacity: 1;"
                              transform=" translate(-15.93, -16)"
                              d="M 23.93 25 v 3 h -16 V 4 h 16 V 7 h 2 V 3 a 1 1 0 0 0 -1 -1 h -18 a 1 1 0 0 0 -1 1 V 29 a 1 1 0 0 0 1 1 h 18 a 1 1 0 0 0 1 -1 V 25 Z"
                              stroke-linecap="round"/>
                    </g>
                <g transform="matrix(6.25 0 0 6.25 268.25 212.5)" id="logout">
                        <line style="stroke-width: 2; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;"
                              x1="2" y1="-2" x2="-2" y2="2"/>
                    </g>
                <g transform="matrix(6.25 0 0 6.25 268.25 187.5)" id="logout">
                        <line style="stroke-width: 2; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;"
                              x1="2" y1="2" x2="-2" y2="-2"/>
                    </g>
                <g transform="matrix(6.25 0 0 6.25 255.75 144.31)" id="logout">
                        <line style="stroke-width: 2; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;"
                              x1="0" y1="1" x2="0" y2="-1"/>
                    </g>
                <g transform="matrix(6.25 0 0 6.25 255.75 256.25)" id="logout">
                        <line style="stroke-width: 2; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;"
                              x1="0" y1="1" x2="0" y2="-1"/>
                    </g>
            </svg>
        </a>
    </div>
</header>

<hr class="horizontal-line">

<main class="user">
    <div class="container user__container">
        <div class="user__content flex">
            <div class="user__avatar">
                <img class="user__image" src="{{ profile.photo.url }}" alt="Аватар">
                <h1 class="user__name">{{ profile.first_and_last_name() }}</h1>
                <hr class="horizontal-line">

                <!-- Меню рядовой пользоваель -->
                <ul class="lk__menu">
                    <li class="lk__item active" data-target="user__info-main">
                        <a href="#">
                            <span>Профиль</span>
                        </a>
                    </li>
                    <li class="lk__item">
                        <a href="#">
                            <span>Мои компетенции</span>
                        </a>
                    </li>
                    <li class="lk__item">
                        <a href="#">
                            <span>Статистика оценки</span>
                        </a>
                    </li>
                    <li class="lk__item" data-target="user__info-project">
                        <a href="#">
                            <span>Проект</span>
                        </a>
                    </li>
                </ul>

                <!-- Меню куратор -->
                <!-- <ul class="lk__menu">
                    <li class="lk__item">
                        <a href="#">
                            <span>Профиль</span>
                        </a>
                    </li>
                    <li class="lk__item">
                        <a href="#">
                            <span>Список команд</span>
                        </a>
                    </li>
                    <li class="lk__item">
                        <a href="#">
                            <span>Оценка</span>
                        </a>
                    </li>
                </ul> -->

                <!-- Меню рук напр -->
                <!-- <ul class="lk__menu">
                    <li class="lk__item">
                        <a href="#">
                            <span>Профиль</span>
                        </a>
                    </li>
                    <li class="lk__item">
                        <a href="#">
                            <span>Список направлений</span>
                        </a>
                    </li>
                    <li class="lk__item">
                        <a href="#">
                            <span>Оценка</span>
                        </a>
                    </li>
                </ul> -->

                <!-- Меню организатор -->
                <!-- <ul class="lk__menu">
                    <li class="lk__item">
                        <a href="#">
                            <span>Профиль</span>
                        </a>
                    </li>
                    <li class="lk__item">
                        <a href="#">
                            <span>Список мероприятий</span>
                        </a>
                    </li>
                    <li class="lk__item">
                        <a href="#">
                            <span>Оценка</span>
                        </a>
                    </li>
                </ul> -->
            </div>

            <!-- ЛК проект -->
            <div class="user__info user__info-project target-block" style="display: none">
                <div class="user__project">
                    <span class="user__project_name">Точка Сбора</span>
                    <span class="user__project_track">ВЕБ</span>
                    <span class="user__project_company">НПЦ РИЦ</span>
                    <span class="user__project_team">Команда 1</span>
                    <span class="user__project_tutor">Смирнов Денис</span>
                </div>
            </div>

            <div class="user__info user__info-main target-block">
                <div class="user__form">
                    <div class="user__data flex">
                        <div class="user__data_left">
                            <span class="user__form_title">фио</span>
                            <p class="user__form_data_link">
                                <span>{{ profile.full_name() }}</span>
                            </p>
                        </div>
                    </div>

                    {% if profile.phone_number != None %}
                        {% if profile.phone_number|length != 0 %}
                            <div class="user__data flex">
                                <div class="user__data_left">
                                    <span class="user__form_title">номер телефона</span>
                                    <p class="user__form_data_link">
                                        <span>{{ profile.phone_number }}</span>
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}

                    {% if profile.email != None %}
                        {% if profile.email|length != 0 %}
                            <div class="user__data flex">
                                <div class="user__data_left">
                                    <span class="user__form_title">email</span>
                                    <p class="user__form_data_link">
                                        <span>{{ profile.email }}</span>
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}

                    {% if profile.telegram != None %}
                        {% if profile.telegram|length != 0 %}
                            <div class="user__data flex">
                                <div class="user__data_left">
                                    <span class="user__form_title">Telegram</span>
                                    <p class="user__form_data_link">
                                        <a href="https://t.me/{{ profile.telegram }}">@{{ profile.telegram }}</a>
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}


                    {% if profile.university != None %}
                        {% if profile.university|length != 0 %}
                            <div class="user__data flex">
                                <div class="user__data_unik">
                                    <span class="user__form_title">учебное заведение</span>
                                    <p class="user__form_data_link">
                                        <span>{{ profile.university }}</span>
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}


                    {% if profile.specialization != None %}
                        {% if profile.specialization|length != 0 %}
                            <div class="user__data flex">
                                <div class="user__data_left">
                                    <span class="user__form_title">специальность</span>
                                    <p class="user__form_data_link">
                                        <span>{{ profile.specialization }}</span>
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}

                    {% if profile.year_of_study != None %}
                        {% if profile.year_of_study|length != 0 %}
                            <div class="user__data flex">
                                <div class="user__data_left">
                                    <span class="user__form_title">Курс</span>
                                    <p class="user__form_data_link">
                                        <span>{{ profile.year_of_study }} курс</span>
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}

                    {% if have_project %}
                        {% if main_role != None  and main_role|length != 0 %}
                            <div class="user__data flex">
                                <div class="user__data_left">
                                    <span class="user__form_title">роль в команде</span>
                                    <p class="user__form_data_link">
                                        <span>{{ main_role }}</span>
                                    </p>
                                </div>
                            </div>
                        {% endif %}

                        {% if second_role != None  and second_role|length != 0 %}
                            <div class="user__data flex">
                                <div class="user__data_left">
                                    <span class="user__form_title">дополнительная роль в команде</span>
                                    <p class="user__form_data_link">
                                        <span>{{ second_role }}</span>
                                    </p>
                                </div>
                            </div>
                        {% endif %}

                        {% if third_role != None and third_role|length != 0 %}
                            <div class="user__data flex">
                                <div class="user__data_left">
                                    <span class="user__form_title">дополнительная роль в команде</span>
                                    <p class="user__form_data_link">
                                        <span>{{ third_role }}</span>
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>


                {#                    <div class="user__data">#}
                {#                        {% if profile.description|length > 0 %}#}
                {#                            <span class="user__form_title">Обо мне</span>#}
                {#                            <p class="user__form_data">{{ profile.description }}</p>#}
                {#                        {% endif %}#}
                {#                    </div>#}


                <div class="user__competencies">
                    <h2 class="user__competencies_title">Мои компетенции</h2>
                    <div class="flex" style="flex-wrap: wrap;">

                        <div class="user__competencies_item">
                            <span class="user__competencies_item-title">Основные навыки</span>
                            <div class="user__competencies_item-input" id="profileSpecializations">
                                <div class="user__competencies_item-value">Отсутствует</div>
                            </div>
                        </div>

                        <div class="user__competencies_item">
                            <span class="user__competencies_item-title">Дополнительное направление</span>
                            <div class="user__competencies_item-input" id="profileCompetencies">
                                <div class="user__competencies_item-value">Отсутствует</div>
                            </div>
                        </div>

                        <div class="user__competencies_item">
                            <span class="user__competencies_item-title">Навыки</span>
                            <div class="user__competencies_item-input flex" id="profileSkills">
                                <div class="user__competencies_item-value">Отсутствует
                                </div>
                            </div>
                        </div>

                        <div class="user__competencies_item">
                            <span class="user__competencies_item-title">Примеры работ</span>
                            <div class="user__competencies_item-input" style="width: 100%;">
                                <div class="user__competencies_item-value" style="text-align: left"
                                     id="fileListProfile">
                                    <span style="margin: auto 0;"><img src="/static/img/attachment.png"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                {% if profile.user == user %}
                    <form action="/edit_profile">
                        <input class="btn btn-reset user__btn" margin="" type="submit" value="Редактировать профиль">
                    </form>
                {% endif %}
            </div>

        </div>
    </div>
</main>

<script>
    window.onload = function () {
        const saved = JSON.parse(localStorage.getItem('savedFileNames') || '[]');
        const container = document.getElementById('fileListProfile');

        saved.forEach(name => {
            const fileSpan = document.createElement('span');
            fileSpan.className = 'file-item';
            fileSpan.textContent = name;
            fileSpan.style.marginLeft = '10px';
            fileSpan.style.padding = '5px 10px';
            fileSpan.style.backgroundColor = '#e6e6e6';
            fileSpan.style.borderRadius = '6px';
            fileSpan.style.fontSize = '14px';
            container.appendChild(fileSpan);
        });
    };

    document.querySelectorAll('[data-target]').forEach(button => {
        button.addEventListener('click', function (e) {
            e.preventDefault();

            document.querySelectorAll('.target-block').forEach(block => {
                block.style.display = 'none';
            });

            const targetClass = this.getAttribute('data-target');
            const targetBlock = document.querySelector(`.${targetClass}`);
            if (targetBlock) {
                targetBlock.style.display = 'block';
            }

            document.querySelectorAll('.lk__item').forEach(item => {
                item.classList.remove('active');
            });

            this.classList.add('active');
        });
    });

    function createCompetencyElement(text) {
        const div = document.createElement('div');
        div.className = 'user__competencies_item-value';
        div.textContent = text;
        return div;
    }

    window.addEventListener('DOMContentLoaded', function () {
        const savedCompetencies = JSON.parse(localStorage.getItem('savedCompetencies') || []);
        const competenciesContainer = document.getElementById('profileCompetencies');

        competenciesContainer.innerHTML = '';

        if (savedCompetencies.length > 0) {
            savedCompetencies.forEach(comp => {
                competenciesContainer.appendChild(createCompetencyElement(comp));
            });
        } else {
            competenciesContainer.appendChild(createCompetencyElement('Отсутствует'));
        }

        const savedSkills = JSON.parse(localStorage.getItem('savedSkills') || []);
        const skillsContainer = document.getElementById('profileSkills');

        skillsContainer.innerHTML = '';

        if (savedSkills.length > 0) {
            savedSkills.forEach(skill => {
                skillsContainer.appendChild(createCompetencyElement(skill));
            });
        } else {
            skillsContainer.appendChild(createCompetencyElement('Отсутствует'));
        }

        const savedSpecializations = JSON.parse(localStorage.getItem('savedSpecializations') || []);
        const specializationsContainer = document.getElementById('profileSpecializations');

        specializationsContainer.innerHTML = '';

        if (savedSpecializations.length > 0) {
            savedSpecializations.forEach(specialization => {
                specializationsContainer.appendChild(createCompetencyElement(specialization));
            });
        } else {
            specializationsContainer.appendChild(createCompetencyElement('Отсутствует'));
        }
    });
</script>

</body>
</html>