<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JustDoIT</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css" crossorigin="">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/media.css">
    <link type="image/x-icon" href="/static/img/icon.ico?v=2" rel="icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="container header__container flex">
        <nav class="header__nav">
            <ul class="header__list list-reset flex">
                <a href="/" class="header__item">Главная</a>
                <div class="header__item">
                    <form action="#" class="search__form">
                        <img src="/static/img/search.png" alt="Поиск" class="search__icon">
                        <input class="search__input" type="text" placeholder="Поиск">
                    </form>
                </div>
                <div class="header__item">
                    <a href="/notifications"><img src="/static/img/heart.png" alt=""></a>
                    <sup class="notifications-counter">0</sup>
                </div>
                <a class="header__item" href="#"><img src="/static/img/bell.png" alt=""></a>
            </ul>
        </nav>
        <a href="/profile/{{ user.id }}" class="header__profile profile"><img class="header__profile" src="{{ profile.photo.url }}" alt="Аватар"></a>
        <a href="/logout" class="profile__exit">
            <svg class="profile__exit_icon" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="45" height="45"
                 viewBox="100 45 150 300" xml:space="preserve">
                    <g transform="matrix(6.25 0 0 6.25 240.13 200)" id="logout">
                        <line style="stroke-width: 2; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;"
                              x1="-6.500000000000001" y1="0" x2="6.500000000000001" y2="0"/>
                    </g>
                <g transform="matrix(6.25 0 0 6.25 199.56 200)" id="logout">
                        <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill-rule: nonzero; opacity: 1;"
                              transform=" translate(-15.93, -16)"
                              d="M 23.93 25 v 3 h -16 V 4 h 16 V 7 h 2 V 3 a 1 1 0 0 0 -1 -1 h -18 a 1 1 0 0 0 -1 1 V 29 a 1 1 0 0 0 1 1 h 18 a 1 1 0 0 0 1 -1 V 25 Z"
                              stroke-linecap="round"/>
                    </g>
                <g transform="matrix(6.25 0 0 6.25 268.25 212.5)" id="logout">
                        <line style="stroke-width: 2; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;"
                              x1="2" y1="-2" x2="-2" y2="2"/>
                    </g>
                <g transform="matrix(6.25 0 0 6.25 268.25 187.5)" id="logout">
                        <line style="stroke-width: 2; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;"
                              x1="2" y1="2" x2="-2" y2="-2"/>
                    </g>
                <g transform="matrix(6.25 0 0 6.25 255.75 144.31)" id="logout">
                        <line style="stroke-width: 2; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;"
                              x1="0" y1="1" x2="0" y2="-1"/>
                    </g>
                <g transform="matrix(6.25 0 0 6.25 255.75 256.25)" id="logout">
                        <line style="stroke-width: 2; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;"
                              x1="0" y1="1" x2="0" y2="-1"/>
                    </g>
            </svg>
        </a>
    </div>
</header>

<hr class="horizontal-line">

<main class="user">
    <div class="container user__container">
        <div class="user__content flex">
            <div class="user__avatar">
                <img class="user__image" src="{{ profile.photo.url }}" alt="Аватар">
                <h1 class="user__name">{{ profile.first_and_last_name() }}</h1>
                <hr class="horizontal-line">
                <ul class="lk__menu">
                    <li class="lk__item">
                        <a href="#">
                            <span>Профиль</span>
                        </a>
                    </li>
                    <li class="lk__item">
                        <a href="#">
                            <span>Мои компетенции</span>
                        </a>
                    </li>
                    <li class="lk__item">
                        <a href="#">
                            <span>Статистика оценки</span>
                        </a>
                    </li>
                    <li class="lk__item">
                        <a href="#">
                            <span>Проект</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="user__info">
                <div class="user__form">
                    <div class="user__data flex">
                        <div class="user__data_left">
                            <span class="user__form_title">фио</span>
                            <p class="user__form_data_link">
                                <span>{{ profile.full_name() }}</span>
                            </p>
                        </div>
                    </div>

                    {% if profile.phone_number != None %}
                        {% if profile.phone_number|length != 0 %}
                            <div class="user__data flex">
                                <div class="user__data_left">
                                    <span class="user__form_title">номер телефона</span>
                                    <p class="user__form_data_link">
                                        <span>{{ profile.phone_number }}</span>
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}

                    {% if profile.email != None %}
                        {% if profile.email|length != 0 %}
                            <div class="user__data flex">
                                <div class="user__data_left">
                                    <span class="user__form_title">email</span>
                                    <p class="user__form_data_link">
                                        <span>{{ profile.email }}</span>
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}

                    {% if profile.telegram != None %}
                        {% if profile.telegram|length != 0 %}
                            <div class="user__data flex">
                                <div class="user__data_left">
                                    <span class="user__form_title">Telegram</span>
                                    <p class="user__form_data_link">
                                        <a href="https://t.me/{{ profile.telegram }}">@{{ profile.telegram }}</a>
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}


                    {% if profile.university != None %}
                        {% if profile.university|length != 0 %}
                            <div class="user__data flex">
                                <div class="user__data_unik">
                                    <span class="user__form_title">учебное заведение</span>
                                    <p class="user__form_data_link">
                                        <span>{{ profile.university }}</span>
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}


                    {% if profile.specialization != None %}
                        {% if profile.specialization|length != 0 %}
                            <div class="user__data flex">
                                <div class="user__data_left">
                                    <span class="user__form_title">специальность</span>
                                    <p class="user__form_data_link">
                                        <span>{{ profile.specialization }}</span>
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}

                    {% if profile.year_of_study != None %}
                        {% if profile.specialization|length != 0 %}
                            <div class="user__data flex">
                                <div class="user__data_left">
                                    <span class="user__form_title">Курс</span>
                                    <p class="user__form_data_link">
                                        <span>{{ profile.year_of_study }} курс</span>
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}


                    <div class="user__data flex">
                        <div class="user__data_left">
                            <span class="user__form_title">роль в команде</span>
                            <p class="user__form_data_link">
                                <span>-</span>
                            </p>
                        </div>
                    </div>

                    <div class="user__data flex">
                        <div class="user__data_left">
                            <span class="user__form_title">дополнительная роль в команде</span>
                            <p class="user__form_data_link">
                                <span>-</span>
                            </p>
                        </div>
                    </div>


                    <div class="user__data">
                        {% if profile.description|length > 0 %}
                            <span class="user__form_title">Обо мне</span>
                            <p class="user__form_data">{{ profile.description }}</p>
                        {% endif %}
                    </div>
                </div>


                <div class="user__competencies">
                    <h2 class="user__competencies_title">Мои компетенции</h2>
                    <div class="flex" style="flex-wrap: wrap;">

                        <div class="user__competencies_item">
                            <span class="user__competencies_item-title">основное направление</span>
                            <div class="user__competencies_item-input flex">
                                <div class="user__competencies_item-value">
                                    <span>Аналитика</span>
                                </div>
                            </div>
                        </div>

                        <div class="user__competencies_item">
                            <span class="user__competencies_item-title">Дополнительное направление</span>
                            <div class="user__competencies_item-input flex">
                                <p class="user__competencies_item-value">
                                    <span>Дизайн</span>
                                </p>
                            </div>
                        </div>

                        <div class="user__competencies_item">
                            <span class="user__competencies_item-title">Навыки</span>
                            <div class="user__competencies_item-input flex">
                                <p class="user__competencies_item-value">
                                    <span class="competence">Анимация</span>
                                </p>
                                <p class="user__competencies_item-value">
                                    <span class="competence">Пунктуальность</span>
                                </p>
                                <p class="user__competencies_item-value">
                                    <span class="competence">Анимация</span>
                                </p>
                            </div>
                        </div>


                        <div class="user__competencies_item">
                            <span class="user__competencies_item-title">Примеры работ</span>
                            <div class="user__competencies_item-input" style="width: 100%;">
                                <p class="user__competencies_item-value" style="text-align: left;">
                                    <span><img src="/static/img/attachment.png"></span>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

                {% if profile.user == user %}
                    <form action="/edit_profile">
                        <input class="btn btn-reset user__btn" type="submit" value="Редактировать профиль">
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</main>

<script>
    function displayImage(inputElement) {
        const file = inputElement.files[0];
        const imageURL = URL.createObjectURL(file);
        document.getElementById('preview').src = imageURL;
        inputElement.value = null;
        document.getElementById('preview').onload = () => URL.revokeObjectURL(imageURL);
    }
</script>

<script src="/static/js/main.js"></script>
<script src="/static/js/script.js"></script>
</body>
</html>